html, body {
    height: 100%;
    overflow: auto;
}

#scoreWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "scoresBox";
    height: auto;
}

div {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#scoreHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    height: 70px;
    position: fixed;
    z-index: 700;
}

#scoreHeader {
    grid-area: header;
    width: 100%;
}

#scoreHeader h1 {
    margin: 9px 0;
}

#scoreHeader h1, #scoreFooter h1 {
    font-size: 21px;
}

#helpButton {
    background-color: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 0 3px gray;
}

#helpButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#helpWindow {
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 99999;
    position: absolute;
    display: none;
}

#scoreFooter {
    grid-area: footer;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#scoreButtonsBox, #scoresBox {
    display: flex;
    width: 100%;
    height: 100%;
}

#scoreButtonsBox {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.scoreButton, input {
    font-size: 18px;
    width: 100%;
}

.scoreButton input {
    padding-bottom: 5px;
    height: 100%;
}

.scoreButton .moveIcon {
    margin-left: 15px;
    justify-self: center;
}

.scoreButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    margin: 0 9px 0 9px;
    border-radius: 1vh;
    text-align: center;
    width: 100px;
    height: max(50px, 65%);
}

#draggableScoreModifier {
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9000;
}

#draggableScoreModifier input {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 100%;
}

#draggableScoreModifier:hover {
    cursor: grab;
}

.scoreButtonDivider {
    border-right: 2px solid black;
    height: max(50px, 65%);
    margin: 0 25px;
}

.scoreModifier {
    padding: 15px;
    cursor: default
}

input {
    background: none;
    border: none;
    border-bottom: 2px solid black;
    font-family: "Open Sans", sans-serif;
}

.scoreModifier input {
    width: 90%;
    text-align: center;
    margin: 0;
}

#scoresBox {
    grid-area: scoresBox;
    flex-direction: column;
    display: flex;
    padding: 0 12.5%;
    transition: width 0.2s;
    margin-top: 70px;
    position: relative;
}

#scores {
    flex-direction: column;
    align-items: center;
    position: relative;
}

#noPlayers {
    margin-top: 0;
}

#scoresBox h1 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

#scoresBox span {
    margin: 25px 0;
}

#newPlayerButton, .removePlayerButton, .selectPlayerButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: 2px;

}

#newPlayerButton, .removePlayerButton {
    height: 25px;
    width: 25px;
    background-color: rgb(230,230,230);
    color: black;
    border-radius: 10px;
}

#newPlayerButton {
    content: "+";
    margin: 0 0 0 10px;

}

#newPlayerButton:hover, .removePlayerButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#newPlayerButton:active, .removePlayerButton:active {
    background-color: gray;
}

.removePlayerButton {
    grid-area: removeBtn;
    font-size: 12px;
    margin-left: 2vw;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

#bookend {
    height: 1px;
    width: 100%;
    position: relative;
}

 .playerWrapper {
    width: 100%;
    margin-left: 200px;
    transition: top 0.5s, margin-left 0.35s, width 0.2s;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "selectBtn player removeBtn";
    grid-column-gap: 0;
    justify-items: right;
    align-items: center; 
    position: absolute;
 }

.player {
    grid-area: player;
    display: grid;
    grid-template-columns: auto 1fr 1fr 4fr 0.75fr 0.75fr 0.75fr 0.75fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "name playerFlag aliveFlag . updateScoreBtn1 updateScoreBtn2 updateScoreBtn3 updateScoreBtn4 score";
    grid-column-gap: 2vw;
    padding: 11px 20px;
    width: 100%;
    min-width: 400px;
    background-color:rgb(230, 230, 230);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

/*
.deadPlayer {
    border: 2px solid rgb(101, 82, 112);
}

.npcPlayer {
    border: 2px solid rgb(133, 126, 117);
}
*/

.selectablePlayer .player * {
    pointer-events: none;
}

/* Highlighting the hovered player while in select mode 

.selectablePlayer:hover .player::before {
    border: 1px solid red;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 800;
    position: absolute;
    background-color: rgba(255,255,255,0.3);
}
*/

.highlightedPlayer {
    position: relative;
    box-shadow: 0 0 0 1000vmax rgba(0,0,0,0.3);
    z-index: 600;
}

.selectablePlayer .player:hover, .selectablePlayer .selectPlayerButton:hover {
    cursor: pointer;
}

.selectablePlayer.selected .selectPlayerButton, .selectablePlayer:hover .selectPlayerButton, .selectPlayerButton:hover {
    background-color: black;
}

.selectPlayerButton {
    grid-area: selectBtn;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 2vw;
    border: 2px solid black;
}

#newPlayerButton, .removePlayerButton, .selectPlayerButton {
    transition: margin 0.3s, height 0.3s, width 0.3s, opacity 0.3s, background-color 0.3s;
}

.hiddenBtn {
    height: 0;
    width: 0;
    opacity: 0;
    margin-left: 0;
    margin-right: 0;
}

.unclickableSelectButton {
    visibility: hidden;
}

.selectablePlayer:hover .deadPlayer {
    cursor: default;
    border-width: 2px;
}

@media only screen and (max-width: 1000px){
    #scoresBox {
        padding: 0 4%;
    }

    .player {
        grid-template-columns: auto 1fr 1fr 0fr 0.75fr 0.75fr 0.75fr 0.75fr auto;
    }
}

.playerName {
    grid-area: name;
    font-weight: bold;
    font-size: 21px;
    max-width: 200px;
}

.aliveFlag {
    grid-area: aliveFlag;
}

.playerFlag {
    grid-area: playerFlag;
}

.aliveFlag, .playerFlag {
    font-size: 14px;
    font-weight: bold;
    width: 60px;
}

.aliveFlag, .playerFlag, .addMinionButton, .updateScoreButton {
    background-color:rgb(248, 248, 248);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dead {
    /*background-color: rgb(109, 59, 59);*/
    background-color: rgb(101, 82, 112);
    color: white;
}

.npc {
    background-color: rgb(133, 126, 117);
    color: white;
}

.updateScoreButton {
    min-width: 55px;
    overflow: hidden;
    transition: opacity 0.3s;
}

.deadPlayer .updateScoreButton {
    opacity: 0;
}

.deadPlayer .updateScoreButton:hover {
    cursor: default;
    background-color:rgb(248, 248, 248);
}

.deadPlayer .playerScore{
    color:rgb(101, 82, 112); 
    border-bottom-color: rgb(101, 82, 112);
    border-bottom: none;
}

.addMinionButton {
    grid-area: addMinionBtn;
}

.updateScoreButton1 {
    grid-area: updateScoreBtn1;
}

.updateScoreButton2 {
    grid-area: updateScoreBtn2;
}

.updateScoreButton3 {
    grid-area: updateScoreBtn3;
}

.updateScoreButton4 {
    grid-area: updateScoreBtn4;
}

.addMinionButton, .updateScoreButton {
    min-height: 40px;
}

.addMinionButton:hover, .updateScoreButton:hover, #scoreModifierMulti:hover {
    background-color: lightgray;
}

.player div:hover, #scoreModifierMulti:hover {
    cursor: pointer;
}

.playerScore {
    grid-area: score;
    text-align: right;
    font-weight: bold;
    font-size: 21px;
    max-width: 72px;
    justify-self: right;
    transition: border 0.3s, color 0.3s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-device-width: 767px){
    #scoreWrapper {
        
        grid-template-rows: 12vh,75px 88vh;
    }

    .scoreModifier input {
        border-bottom: 4px solid black;
    }

    .scoreButton, .scoreModifier input {
        font-size: 5vw;
    }

    .scoreButton {
        margin: 3%;
        width: 25%;
    }

    #scoresBox {
        align-items: center;
    }

    #scoresBox h1 {
        font-size: 6vw;
    }

    
}
